@using ShopGI.Component;
@model ShopGI.Models.ViewModels.ProductLVModel
@{
    ViewData["Title"] = "Sản Phẩm";
}
<html>
<body>
    <h1 class="guide__title" align="center" style="margin-top:100px">
        Danh sách tài khoản
    </h1>
        @*<div>
        <p>
        <a class="btn" asp-action="Add">Tạo mới</a>
        </p>
        </div>*@
        @*khung sản phẩm*@
        <div class="row">
            <div class="col-12 col-lg-3" style="margin-top:49px">
                <article class="search-frm">
                    <div class="col-3 p-4 pb-5" style="text-align:center; padding:5px; padding-bottom:20px; font-weight:700; font-size:20px">
                        <a style="color:rgb(225, 225, 225)">Tướng</a>
                        <form action="" class="search-bar">
                            <input type="text" placeholder="VD: Kamisato Ayaka" name="q">
                            @*<button class="btn-search"> haha search</button>*@
                        </form>
                        <br>
                        <a style="color:rgb(225, 225, 225)">Vũ khí</a>
                        <form action="" class="search-bar">
                            <input type="text" placeholder="VD: Hủy Diệt" name="q">
                            @*<button class="btn-search"> haha search</button>*@
                        </form>
                        <br>
                        <a style="color:rgb(225, 225, 225)">AR</a>
                        <form action="" class="search-bar">
                            <input type="text" placeholder="Nhập AR" name="q">
                            @*<button class="btn-search"> haha search</button>*@
                        </form>
                        <br>
                        <a style="color:rgb(225, 225, 225)">Giá</a>
                        <form action="" class="search-bar">
                            <input type="text" placeholder="Nhập Giá" name="q">
                            @*<button class="btn-search"> haha search</button>*@
                        </form>
                        <br>
                        <a style="color:rgb(225, 225, 225)">Server</a>
                        <form action="" class="search-bar">
                            <input type="text" placeholder="VD: Korea" name="q">
                            @*<button class="btn-search"> haha search</button>*@
                        </form>
                        <br>
                        <button class="btn-search"> haha search</button>
                    </div>

                </article>


            </div>
            <div class=" col-lg-9 mt-4 mt-lg-0">
                <div class="categories">
                    <div class="small-container">
                        <div class="row">
                            @foreach (var item in Model.Product)
                            {

                                <article class="col-lg-4 col-md-6 col-6">
                                    <div class="col-3" style="text-align:center">
                                        <a><img src="~/img/@item.PhotoPath" style="border-top-left-radius:20px;border-top-right-radius:20px"></a>
                                        <a style="color:rgb(225, 225, 225)">AR: @Html.DisplayFor(modelItem => item.AR) - Server: @Html.DisplayFor(modelItem => item.Server) - Tướng: @Html.DisplayFor(modelItem => item.Champ)</a><br>
                                        <a class="text-break" style="color:rgb(225, 225, 225)">Mô Tả: @Html.DisplayFor(modelItem => item.Desccription)</a>




                                    <button class="btn-pretty" onclick="location.href='@Url.ActionLink("AddToCart","Cart", new{@id=@item.ID})'">Khám Phá</button>
                                    </div>
                                </article>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


    @*<div class="container">
    <div class="row align-content-md-start" style="margin-top: 2rem">
    <div class="col-1 row-cols-1">
    <h6>Danh sách </h6>
    @await Component.InvokeAsync("NavigationMenuViewComponent", "VIP")
    </div>
    <div class="col">
    <div class="row row-cols-3 ">
    @foreach (var item in Model.Product)
    {
    <div class="col">
    <div class="card" style="width: 18rem; margin-bottom: 2rem; border-radius: 1rem ">
    <img style="border-top-left-radius: 1rem; border-top-right-radius: 1rem" src="~/img/@item.PhotoPath" class="card-img-top" alt="...">
    <div class="card-body">
    <tr>
    <p>Account @Html.DisplayFor(modelItem => item.Category)</p>
    <p>AR: @Html.DisplayFor(modelItem => item.AR)</p>
    <p>Server: @Html.DisplayFor(modelItem => item.Server)</p>
    <p>Tướng: @Html.DisplayFor(modelItem => item.Champ)</p>
    </tr>

    <p class="card-text">Mô Tả: @Html.DisplayFor(modelItem => item.Desccription)</p>

    <a class="btn btn-outline-primary" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.ID"><p>@Html.DisplayFor(modelItem => item.Price) VND</p></a>
    <a class="btn btn-outline-primary" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.ID">Thêm vào giỏ hàng</a>
    <a class="btn btn-outline-primary" asp-action="Update" asp-controller="Product" asp-route-id="@item.ID">Cập nhật</a>
    <a class="btn btn-outline-primary" asp-action="Delete" asp-controller="Product" asp-route-id="@item.ID">Xóa</a>
    </div>
    </div>
    </div>
    }
    </div>
    </div>
    </div>
    </div>*@


</body>
</html>


<script>

</script>