@model ShopGI.Models.UpdateViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Update</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <img id="blah" src="~/img/@Model.PhotoPath" />
                <br />
                <label asp-for="@Model.Photo" class="control-label"></label>
                <input asp-for="@Model.Photo" id="imgInp" class="form-control" type="file" />
                <span asp-validation-for="@Model.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AR" class="control-label"></label>
                <input asp-for="@Model.AR" class="form-control" />
                <span asp-validation-for="@Model.AR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Server" class="control-label"></label>
                <input asp-for="@Model.Server" class="form-control" />
                <span asp-validation-for="@Model.Server" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Champ" class="control-label"></label>
                <input asp-for="@Model.Champ" class="form-control" />
                <span asp-validation-for="@Model.Champ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Desccription" class="control-label"></label>
                <input asp-for="@Model.Desccription" class="form-control" />
                <span asp-validation-for="@Model.Desccription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Price" class="control-label"></label>
                <input asp-for="@Model.Price" class="form-control" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Category" class="control-label"></label>
                <input asp-for="@Model.Category" class="form-control" />
                <span asp-validation-for="@Model.Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" asp-action="Update" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    }
</script>
